.header{
  margin: 50px 0;
  display: flex;
  .button-section{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  30px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5411764705882353);
    h1{
      font-size: 30px;
      color: #292929;
      margin: 0;
    }
    button{
      margin-top: 20px;
    }
  }
}
.DownloadingText{
  font-size: 14px;
  margin: 20px 10px;
  color: #666666;
  display: block;
}
.progres-list-section{
  margin-top: 0;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0 1px 4px 0 #cecece;
  list-style: none;
  padding: 10px 0;
}
.search{
  float: right;
  position: relative;
  right: 0;
  width: 200px;
  input{
    border: none;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 10px 40px 10px 10px;
    background: transparent;
  }
  &::before{
    content: '';
    width: 22px;
    height: 22px;
    background: url('../assets/search.png') no-repeat;
    display: block;
    background-size: 100%;
    position: absolute;
    right: 15px;
    margin: auto;
    top:0;
    bottom: 22px;
  }
}
.list-container {
  margin-top: 22px;
  display: flex;
  background: #ffffff;
  padding: 15px 0;
  .list-section {
    background: #ffffff;
    padding: 15px;
    flex: 1;
    .flex{
      display: flex;
      h1{
        flex: 1
      }
    }
    h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      padding-left: 15px;
      margin-bottom: 30px;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      &.inner-list-section{
        height: 520px;
        overflow-y: scroll;
        padding-right: 20px;
        &::-webkit-scrollbar-track {
          background-color: #e9e9e9;
          border-radius: 5px;
        }
        &::-webkit-scrollbar {
          width: 5px;
          background-color: #e9e9e9;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #a7a7a7;
          border: 2px solid #a7a7a7;
          border-radius: 5px;
        }
      }
      li{
        &.margin{
          margin: 0 0 10px 0;
          ul{
            li{
              position: relative;
              padding-right: 50px;
              img{
                position: absolute;
                right: 12px;
                width: 20px;
                height: 20px;
                object-fit: cover;
                top: 0;
                bottom: 0;
                margin: auto;
                &:hover{
                  cursor: pointer;
                }
              }
            }
          }
        }
        ul{
          margin: 0;
          list-style: none;
          padding: 25px 0 25px 15px;
          border-top: 1px solid #e0e0e0;
          &.red{
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
          }
          &.green{
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
          }
          li{
            &.heading{
              margin-bottom: 5px;
              font-size: 18px;
              font-weight: 500;
              color: #a0a0a0;
              &:hover{
                cursor: pointer;
                color: #292929;
              }
            }
            &.active{
              color: #333333;
            }
            color: #292929;
            font-size: 15px;
          }
        }
      }
    }
    &:first-child{
      border-right: 1px solid #e9e9e9;
    }
    &:last-child{
      border-left: 1px solid #e9e9e9;
    }
  }
}

