<!--<div style="text-align:center">-->
<!--<h1>-->
<!--Welcome to Scraper!-->
<!--</h1>-->
<!--<button (click)="launchWindow()">Open File</button>-->
<!--<button (click)="launchWindow2()">Launch a Window</button>-->
<!--<button (click)="scrappingLib()">Scrapping Lib</button>-->
<!--<button (click)="scrappingBook()">Scrapping Books</button>-->
<!--<button (click)="scrappingChaps()">Scrapping Chaps</button>-->
<!--<button (click)="count()">Counts</button>-->
<!--<button (click)="download()">Download</button>-->

<!--</div>-->
<div class="container-fluid" [ngClass]="loading ? 'overflow' : ''">
  <div *ngIf="loading" class="loading">
    <div class="image-container">
      <img src="assets/loading.png">
    </div>
      <p>Looking For Data..</p>
  </div>
  <div class="header">
    <div class="col-md-4 col-sm-4">
      <div class="button-section">
        <h1>Libraries : <span [textContent]="libCount"></span></h1>
        <button class="button" (click)="scrappingLib()" [disabled]="!libScrapBtn" *ngIf="!libScrapTxt">Start Scrapping</button>
        <span class="DownloadingText" *ngIf="libScrapTxt">Scrapping...</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="button-section">
        <h1>Folders : <span [textContent]="booksCount"></span></h1>
        <button class="button" (click)="scrappingBook()" [disabled]="!bookScrapBtn" *ngIf="!bookScrapTxt">Start Scrapping</button>
        <span class="DownloadingText" *ngIf="bookScrapTxt">Scrapping...</span>

      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="button-section">
        <h1>Books : <span [textContent]="chapsCount"></span></h1>
        <button class="button" (click)="scrappingChaps()" [disabled]="!chapScrapBtn" *ngIf="!chapScrapTxt">Start Scrapping</button>
        <span class="DownloadingText" *ngIf="chapScrapTxt">Scrapping...</span>

      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button class="button" [disabled]="!downloadBtn" (click)="download()">Start Download</button>

  </div>
  <div class="col-md-12 text-center" [hidden]="downloadBtn">
    <span class="DownloadingText">Downloading...</span>
  </div>

  <div class="col-md-12 text-center" [hidden]="!showProgressSection">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%; animation: progress-bar-stripes 1s linear infinite;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        Progress : {{progress}}
      </div>
    </div>
    <!--<span class="ProgressText">Progress : {{progress}}</span>-->
    <div class="list-section">
      <ul class="progres-list-section">
        <li *ngFor="let key of progressInfo | keys">
          {{progressInfo[key]}}
        </li>


      </ul>
    </div>

  </div>



  <div class="col-md-12 ">
    <div class="list-container">
      <div class="list-section"  *ngIf="libDataSection">
        <h1>Libraries</h1>
        <ul class="inner-list-section">
          <li *ngFor="let lib of filterLibData; let i = index">
           <ul>
              <li class="heading" (click)="getBooksOfLib(lib, i)" [ngClass]="{active: isActiveLib(i)}">{{i + 1}}. {{lib.title}} </li>
              <li> <span>Link :</span> <a href="{{lib.link}}" target="_blank"> {{lib.link}} </a></li>
              <li *ngIf="lib.booksLength"> <span>Folders Count :</span> {{lib.booksLength}}</li>
           </ul>
          </li>
      </ul>
      </div>

      <div class="list-section"  *ngIf="bookDataSection">
        <h1>Folders</h1>
        <ul class="inner-list-section">
          <li *ngFor="let book of singleLib.books; let i = index">
            <ul>
              <li class="heading" (click)="getChaptersOfBook(book, i)" [ngClass]="{active: isActiveBook(i)}">{{i + 1}}. {{book.title}}</li>
              <li> <span>Link :</span>  <a href="{{book.link}}" target="_blank"> {{book.link}} </a></li>
              <li *ngIf="book.chapters"> <span>Books Count :</span> {{book.chapters.length}}</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="list-section"  *ngIf="chapDataSection">
           <div class="flex">
             <h1>Books</h1>
             <div class="search">
               <input type="text" placeholder="Search" #search (keyup)="searchFromChap(search.value)">
             </div>
           </div>
            <ul class="inner-list-section" id="style-4">
              <li *ngFor="let chap of chaps; let i = index" class="margin">
                <ul [ngClass]="chap.isDownloaded ? 'green' : 'red'">
                  <li class="heading"># {{i + 1}}. <img *ngIf="chap.isDownloaded" src="assets/folder.png" (click)="showInFolder(chap)"> </li>
                  <li *ngFor="let key of chap | keys">{{chap[key]}}</li>
                </ul>
              </li>
            </ul>
          </div>
    </div>
  </div>
</div>
